In [13]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

## Задача 1.1

In [2]:
data_string = '''Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
AdjustedR2     0.121       0.123       0.121       0.002 '''

In [5]:
#header нужен для того, чтобы первая строка не обозначалась как наименования
df = pd.read_csv(io.StringIO(data_string), 
    delimiter='\s+', header=None, index_col=0)
df.reset_index()

              0        1        2        3        4
0  Observations  706.000  706.000  706.000  706.000
1            R2    0.132    0.131    0.128    0.007
2    AdjustedR2    0.121    0.123    0.121    0.002

In [6]:
#транспонируем матрицу
df = df.transpose()
df

0  Observations     R2  AdjustedR2
1         706.0  0.132       0.121
2         706.0  0.131       0.123
3         706.0  0.128       0.121
4         706.0  0.007       0.002

In [8]:
# Заполним столбец значением m - кол-во регрессоров для каждой модели
df['m'] = [10,8,6,5]
df

0  Observations     R2  AdjustedR2   m
1         706.0  0.132       0.121  10
2         706.0  0.131       0.123   8
3         706.0  0.128       0.121   6
4         706.0  0.007       0.002   5

In [9]:
#создаем столбец со значениями Fнабл
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2   m      F_nab
1         706.0  0.132       0.121  10  11.760369
2         706.0  0.131       0.123   8  15.031728
3         706.0  0.128       0.121   6  20.550459
4         706.0  0.007       0.002   5   1.235398

In [11]:
alpha = 0.05
#F критическое: (df['m']-1) - кол-во регрессоров без константы, (df['Observations']-df['m']) - кол-во степеней свободы
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr
1         706.0  0.132       0.121  10  11.760369  1.893317
2         706.0  0.131       0.123   8  15.031728  2.022681
3         706.0  0.128       0.121   6  20.550459  2.226901
4         706.0  0.007       0.002   5   1.235398  2.384638

## Задача 2.1

$$
H_0 : \beta_{smsa} = \beta_{ynkid} = \beta_{ynkid} = \beta_{marr} = 0
$$
$$
H_1 : \beta_{smsa}^2 = \beta_{ynkid}^2 = \beta_{ynkid}^2 = \beta_{marr}^2 > 0
$$

In [16]:
#регулярное выражение, позволяющее разбивать и находить из совокупности значений нужные цифры
unrestricted, restricted = np.float_(re.findall(r'([-+]?\d+.\d+)','R2      0.131    0.127'))
print(unrest,rest)

0.131 0.127

In [18]:
F_obs = (unrestricted - restricted)/(1-unrestricted)*(706-9)/4
F_obs

0.8020713463751445

In [19]:
F_cr = stats.f.ppf(1-alpha, 4, 706-9)
F_cr

2.3847110483450447

$F_{obs} < F_{cr}$ данные согласуются с гипотезой $H_0$