In [16]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

# Листок 3
## Задача 1.1.1

In [2]:
#определяем данные
data = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25'''

In [5]:
# создаём DataFrame
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [6]:
# специфицируем модель через формулу
output_eq1 = smf.ols(formula='sleep~totwrk+age+male+np.log(hrwage)', data=df).fit()
# Коэфициенты модели с округление
output_eq1.params.round(2)

Intercept         8278.94
totwrk              -0.78
age                -29.23
male              -325.35
np.log(hrwage)    -596.19
dtype: float64

In [10]:
#добавляем доп. столбец с предсказанными значениями
df['pred'] = 3525.14 +  (-0.16)*df['totwrk'] + 1.62*df['age'] + 51.84*df['male'] + (-9.88)*np.log(df['hrwage'])

In [11]:
df

   sleep  totwrk  age  male  hrwage         pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [12]:
df['residual'] = df['sleep'] - df['pred']

In [13]:
df

   sleep  totwrk  age  male  hrwage         pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

## Задача 1.1.2

In [17]:
data = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''

In [18]:
data

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46  '

In [19]:
# создаём DataFrame
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [21]:
df['pred'] = -1.71 + 0.21*np.log(df['capital']) + 0.71*np.log(df['labour'])

In [22]:
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [23]:
df['residual'] = np.log(df['output']) - df['pred']

In [24]:
df

   output  capital  labour      pred  residual
0    9.25     2.61     184  2.194068  0.030556
1    3.66     1.32      91  1.551013 -0.253550
2   28.78    22.09     426  3.238628  0.121053
3    4.12    10.74      72  1.824968 -0.409115
4    2.89     1.16      46  1.039504  0.021753

## Задача 1.2.1

In [28]:
TSS = 100.35
ESS = 47.56
RSS = TSS - ESS
RSS

52.78999999999999

$$
R^2 = \frac{ESS}{TSS} = 1-\frac{RSS}{TSS}
$$

In [30]:
R2 = ESS/TSS
R2

0.47394120577977084

## Задача 1.2.2

In [3]:
TSS = 240.82
RSS = 93.52
ESS = TSS-RSS
ESS

147.3

In [4]:
R2 = ESS/TSS
R2

0.6116601611161864

## Задача 1.2.4

In [13]:
RSS = 0.24**2+0.41**2+1.22**2 + 0.93**2 + 0.37**2 + 1.33**2 + 0.16**2 + 0.27**2 + 0.06**2 + 1.29**2
round(RSS,2)

6.25

In [12]:
n = 10
k = 2
s = (RSS/(n-k-1))**0.5
round(s,2)

0.94

## Задача 1.2.5

In [14]:
#определяю данные для дальнейшего анализа
data_string ='''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''

In [17]:
# создаю DataFrame
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [18]:
TSS = ((df['sleep/60']-np.mean(df['sleep/60']))**2).sum()
TSS.round(3)

366.262

In [19]:
RSS = ((df['sleep/60']-df['y.hat'])**2).sum()
RSS

193.14050000000003

In [20]:
ESS = ((np.mean(df['sleep/60'])-df['y.hat'])**2).sum()
ESS

173.18884999999997

## Задача 2.1

$$
R^2_{adj} = 1 - (1-R^2)*\frac{n-1}{n-k}
$$
$$
n - Количество \ измеренией
$$
$$
K - Количество \ регрессоров
$$

In [31]:
n = 526
k = 5
R2 = 0.288
R2adj = 1 - (1-R2)*(n-1)/(n-k)

In [32]:
R2adj

0.2825335892514397

In [35]:
round(R2adj,2)

0.28

# Задача 2.2

In [27]:
R2adj = 1-(1-0.201)*(935-1)/(935-7)
round(R2adj, 3)

0.196

## Задача 2.3

In [38]:
data_string = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''

In [39]:
# создаю DataFrame
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [40]:
TSS = ((df['log(output)']-np.mean(df['log(output)']))**2).sum()
TSS.round(3)

24.479

In [41]:
RSS = ((df['log(output)']-df['y.hat'])**2).sum()
RSS

0.28720000000000007

In [42]:
ESS = ((np.mean(df['log(output)'])-df['y.hat'])**2).sum()
ESS

24.249010000000006

In [43]:
R2 = ESS/TSS
R2.round(2)

0.99

In [46]:
R2adj = 1-(1-R2)*(10-1)/(10-2)
R2adj.round(2)

0.99

## Задача 3.1

In [36]:
string_data = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [37]:
df = pd.read_csv(io.StringIO(string_data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [38]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [41]:
#ищем y среднее
df['Факт'].mean()

3316.6666666666665

In [45]:
# вычитаем среднее значение из каждого y наблюдаемого
tss = (df['Факт'] - df['Факт'].mean())**2
tss

0     41480.111111
1     54600.111111
2    557013.444444
3     89201.777778
4     98177.777778
5    104760.111111
Name: Факт, dtype: float64

In [47]:
#теперь ищем нормальный TSS через библиотеку numpy (сумма)
TSS = np.sum(tss)
TSS

945233.3333333334

In [65]:
print(df['Факт'])
print(df['Факт'].mean())

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64
3316.6666666666665

In [66]:
ESS = np.sum((df['Fitted'] - df['Факт'].mean())**2)
ESS

288096.9463873332

In [67]:
RSS = TSS - ESS
RSS

657136.3869460002

In [68]:
R2 = ESS/TSS
R2

0.30478923692985843

In [71]:
R2_adj = 1 - (1-R2)*(700-1)/(700-4)
R2_adj

0.30179263881317675

In [77]:
SER = np.sqrt(RSS)
print('SER =', SER)

SER = 810.6394925896469

## Задача 3.2

In [73]:
data_string = '''i   Факт  Fitted  Остаток 
1   2670 3132.491 -462.491
9   3090 3370.083 -280.083
56  2985 2835.360 149.640 
76  3660 3248.540 411.460 
100 2618 2863.070 -245.070'''

In [74]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  2670  3132.491 -462.491
1    9  3090  3370.083 -280.083
2   56  2985  2835.360  149.640
3   76  3660  3248.540  411.460
4  100  2618  2863.070 -245.070

In [75]:
TSS = ((df['Факт']-np.mean(df['Факт']))**2).sum()
TSS

698643.2

In [76]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum()
ESS.round(3)

258113.573

In [77]:
RSS = ((df['Остаток'])**2).sum()
RSS.round(3)

544095.178

In [78]:
R2 = ESS.round(3)/TSS.round(3)
R2.round(3)

0.369

In [79]:
# Вычислим исправленный коэффициенте детерминации
n = 100 # количество измерений равно длине строк в исходной таблице минус 1, т.к. присутствует строка заголовака 
k = 4 # количество регрессорово
RSS_adj = 1 - (RSS/TSS)*((n-1)/(n-k))
RSS_adj

0.19687452424257823

In [80]:
SER = np.sqrt(RSS)
SER

737.6280757061786

## Задача 3.3

In [81]:
data_string = '''i   Факт  Fitted  Остаток 
1   3113 3061.481  51.519 
9   3018 3087.341 -69.341 
45  3363 3268.521  94.479 
187 3390 3228.976 161.024 
280 2955 3399.060 -444.060'''

In [82]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3061.481   51.519
1    9  3018  3087.341  -69.341
2   45  3363  3268.521   94.479
3  187  3390  3228.976  161.024
4  280  2955  3399.060 -444.060

In [83]:
TSS = ((df['Факт']-np.mean(df['Факт']))**2).sum()
TSS

158202.8

In [84]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum()
ESS.round(3)

85145.791

In [85]:
RSS = ((df['Остаток'])**2).sum()
RSS.round(3)

239506.675

In [86]:
R2 = ESS.round(3)/TSS.round(3)
R2.round(3)

0.538

In [89]:
# Вычислим исправленный коэффициенте детерминации
n = 280 # количество измерений равно длине строк в исходной таблице минус 1, т.к. присутствует строка заголовака 
k = 4 # количество регрессорово
RSS_adj = 1 - (1-R2)*((n-1)/(n-k))
RSS_adj

0.5331871058924809

In [90]:
SER = np.sqrt(RSS)
SER

489.39419209774036

## Задача 3.4

In [91]:
data_string = '''i   Факт  Fitted  Остаток 
1   3083 2945.903 137.097 
9   2858 2920.662 -62.662 
45  3730 3328.629 401.371 
187 3376 3503.722 -127.722
280 3405 3215.073 189.927'''

In [92]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3083  2945.903  137.097
1    9  2858  2920.662  -62.662
2   45  3730  3328.629  401.371
3  187  3376  3503.722 -127.722
4  280  3405  3215.073  189.927

In [93]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum()
ESS.round(3)

308026.261

In [94]:
RSS = ((df['Остаток'])**2).sum()
RSS.round(3)

236205.968

In [95]:
TSS = ((df['Факт']-np.mean(df['Факт']))**2).sum()
TSS

443693.2

In [96]:
R2 = ESS.round(3)/TSS.round(3)
R2.round(3)

0.694

In [97]:
# Вычислим исправленный коэффициенте детерминации
n = 280 # количество измерений равно длине строк в исходной таблице минус 1, т.к. присутствует строка заголовака 
k = 4 # количество регрессорово
RSS_adj = 1 - (1-R2)*((n-1)/(n-k))
RSS_adj

0.6909089892716309

In [98]:
SER = np.sqrt(RSS)
SER

486.0102549401607

## Задача 3.5

In [99]:
data_string = '''i   Факт  Fitted Остаток
2   3.664 0.457   3.207 
11  3.246 5.666  -2.420 
24  2.666 -0.625  3.292 
101 2.181 6.952  -4.771 
349 4.307 2.278   2.029 
501 3.660 11.353 -7.694'''

In [100]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i   Факт  Fitted  Остаток
0    2  3.664   0.457    3.207
1   11  3.246   5.666   -2.420
2   24  2.666  -0.625    3.292
3  101  2.181   6.952   -4.771
4  349  4.307   2.278    2.029
5  501  3.660  11.353   -7.694

In [103]:
TSS = ((df['Факт']-np.mean(df['Факт']))**2).sum()
TSS.round(3)

2.932

In [102]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum()
ESS.round(3)

108.479

In [105]:
RSS = ((df['Факт']-df['Fitted'])**2).sum()
RSS.round(3)

113.033

#### Получились неправильные значения. Думаю это из-за того, что из всех 501 наблюдений я рассматриваю лишь 6 штук. Поэтому ниже я рассмотрю первоначальную выборку, чтобы проверить свою гипотезу :)

In [106]:
import numpy as np # linear algebra 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# stats models: regression fitting
import statsmodels.formula.api as smf
# data visualization
import seaborn as sns

In [107]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [120]:
# подгонка прямой
fitted_line = smf.ols(formula='output~capital+labour+wage', data=df).fit()
# коэффициенты с округлением
fitted_line.params.round

<bound method Series.round of Intercept   -16.745898
capital       0.395074
labour        0.049899
wage          0.436984
dtype: float64>

In [123]:
df['pred'] = -16.745898 + 0.395074*df['capital']+0.049899*df['labour']+0.436984*df['wage']
df

       capital  labour     output       wage       pred     resid
0     2.606563     184   9.250759  43.080307  12.290708 -3.039949
1     1.323237      91   3.664310  27.780016   0.457110  3.207200
2    22.093692     426  28.781516  44.467748  32.671414 -3.889897
3    10.737851      72   4.124642  39.734710   8.452508 -4.327866
4     1.161365      46   2.890150  34.650709   1.150086  1.740063
..         ...     ...        ...        ...        ...       ...
564   2.625403      20   1.424376  33.477545  -0.081538  1.505914
565   1.276386      61   2.109048  26.300732  -1.704793  3.813841
566   1.953869     117   6.241870  41.153979   7.847838 -1.605968
567   1.318527      46   7.902237  66.720139  15.226005 -7.323767
568   2.832391     161   6.804085  36.618435   8.408515 -1.604430

[569 rows x 6 columns]

In [122]:
df['resid'] = df['output']-df['pred']
df

       capital  labour     output       wage       pred     resid
0     2.606563     184   9.250759  43.080307  12.290708 -3.039949
1     1.323237      91   3.664310  27.780016   0.457110  3.207200
2    22.093692     426  28.781516  44.467748  32.671414 -3.889897
3    10.737851      72   4.124642  39.734710   8.452508 -4.327866
4     1.161365      46   2.890150  34.650709   1.150086  1.740063
..         ...     ...        ...        ...        ...       ...
564   2.625403      20   1.424376  33.477545  -0.081538  1.505914
565   1.276386      61   2.109048  26.300732  -1.704793  3.813841
566   1.953869     117   6.241870  41.153979   7.847838 -1.605968
567   1.318527      46   7.902237  66.720139  15.226005 -7.323767
568   2.832391     161   6.804085  36.618435   8.408515 -1.604430

[569 rows x 6 columns]

In [124]:
TSS = ((df['output']-np.mean(df['output']))**2).sum()
TSS

2235073.2947312016

In [125]:
ESS = ((df['pred'] - np.mean(df['output']))**2).sum()
ESS.round(3)

2190376.717

In [126]:
RSS = ((df['resid'])**2).sum()
RSS.round(3)

44697.218

In [130]:
R2 = ESS/TSS
R2

0.9800021869334945

In [135]:
R2_adj = 1 - (1-R2)*((569-1)/(569-3))
R2_adj

0.9799315232830829

In [134]:
SER = np.sqrt(RSS/(569-3-1))
SER

8.894387014716255

## Во всех задачах под номером 3 ответы взяты из первоначальной выборки. Поэтому не сходятся ответы