In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

## Задача 1.1

In [2]:
data_string = '''Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
AdjustedR2     0.121       0.123       0.121       0.002 '''

In [3]:
#header нужен для того, чтобы первая строка не обозначалась как наименования
df = pd.read_csv(io.StringIO(data_string), 
    delimiter='\s+', header=None, index_col=0)
df.reset_index() #сдвиг названий столбцов вниз

              0        1        2        3        4
0  Observations  706.000  706.000  706.000  706.000
1            R2    0.132    0.131    0.128    0.007
2    AdjustedR2    0.121    0.123    0.121    0.002

In [4]:
#транспонируем матрицу
df = df.transpose()
df

0  Observations     R2  AdjustedR2
1         706.0  0.132       0.121
2         706.0  0.131       0.123
3         706.0  0.128       0.121
4         706.0  0.007       0.002

In [5]:
# Заполним столбец значением m - кол-во регрессоров для каждой модели
df['m'] = [10,8,6,5]
df

0  Observations     R2  AdjustedR2   m
1         706.0  0.132       0.121  10
2         706.0  0.131       0.123   8
3         706.0  0.128       0.121   6
4         706.0  0.007       0.002   5

In [6]:
#создаем столбец со значениями Fнабл
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2   m      F_nab
1         706.0  0.132       0.121  10  11.760369
2         706.0  0.131       0.123   8  15.031728
3         706.0  0.128       0.121   6  20.550459
4         706.0  0.007       0.002   5   1.235398

In [7]:
alpha = 0.05
#F критическое: (df['m']-1) - кол-во регрессоров без константы, (df['Observations']-df['m']) - кол-во степеней свободы
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr
1         706.0  0.132       0.121  10  11.760369  1.893317
2         706.0  0.131       0.123   8  15.031728  2.022681
3         706.0  0.128       0.121   6  20.550459  2.226901
4         706.0  0.007       0.002   5   1.235398  2.384638

In [8]:
#Создаю столбец со значимостью коэффициентов
df['result'] = df.apply(lambda x: 'регрессоры не значимы' if abs(x['F_nab'])<abs(x['F_cr']) else 'регрессоры значимы', axis=1)
df

,Observations,R2,AdjustedR2,m,F_nab,F_cr,result
1,706.0,0.132,0.121,10,11.760369,1.893317,регрессоры значимы
2,706.0,0.131,0.123,8,15.031728,2.022681,регрессоры значимы
3,706.0,0.128,0.121,6,20.550459,2.226901,регрессоры значимы
4,706.0,0.007,0.002,5,1.235398,2.384638,регрессоры не значимы

## Задача 1.4

In [9]:
data = '''Observations            158         158         158        158      158  
R2                     0.992       0.976       0.982      0.053    0.026'''

In [10]:
#header нужен для того, чтобы первая строка не обозначалась как наименования
df = pd.read_csv(io.StringIO(data), 
    delimiter='\s+', header=None, index_col=0)
df=df.transpose() #транспонируем матрицу
df

0  Observations     R2
1         158.0  0.992
2         158.0  0.976
3         158.0  0.982
4         158.0  0.053
5         158.0  0.026

In [11]:
# Заполним столбец значением m - кол-во регрессоров для каждой модели
df['m'] = [6,3,5,4,2]
df

0  Observations     R2  m
1         158.0  0.992  6
2         158.0  0.976  3
3         158.0  0.982  5
4         158.0  0.053  4
5         158.0  0.026  2

In [12]:
#создаем столбец со значениями Fнабл
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  m        F_nab
1         158.0  0.992  6  3769.600000
2         158.0  0.976  3  3151.666667
3         158.0  0.982  5  2086.750000
4         158.0  0.053  4     2.872932
5         158.0  0.026  2     4.164271

In [13]:
#F критическое: (df['m']-1) - кол-во регрессоров без константы, (df['Observations']-df['m']) - кол-во степеней свободы
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  m        F_nab      F_cr
1         158.0  0.992  6  3769.600000  3.139909
2         158.0  0.976  3  3151.666667  4.744744
3         158.0  0.982  5  2086.750000  3.444189
4         158.0  0.053  4     2.872932  3.911342
5         158.0  0.026  2     4.164271  6.800161

In [14]:
#Создаю столбец со значимостью коэффициентов
df['result'] = df.apply(lambda x: 'коэффициенты значимы' if abs(x['F_nab'])<abs(x['F_cr']) else 'коэффициенты не значимы', axis=1)
df

0  Observations     R2  m        F_nab      F_cr                   result
1         158.0  0.992  6  3769.600000  3.139909  коэффициенты не значимы
2         158.0  0.976  3  3151.666667  4.744744  коэффициенты не значимы
3         158.0  0.982  5  2086.750000  3.444189  коэффициенты не значимы
4         158.0  0.053  4     2.872932  3.911342     коэффициенты значимы
5         158.0  0.026  2     4.164271  6.800161     коэффициенты значимы

## Задача 2.1

$$
H_0 : \beta_{smsa} = \beta_{ynkid} = \beta_{ynkid} = \beta_{marr} = 0
$$
$$
H_1 : \beta_{smsa}^2 = \beta_{ynkid}^2 = \beta_{ynkid}^2 = \beta_{marr}^2 > 0
$$

In [15]:
#регулярное выражение, позволяющее разбивать и находить из совокупности значений нужные цифры
unrestricted, restricted = np.float_(re.findall(r'([-+]?\d+.\d+)','R2      0.131    0.127'))
print(unrestricted,restricted)

0.131 0.127

In [16]:
F_obs = (unrestricted - restricted)/(1-unrestricted)*(706-9)/4
F_obs

0.8020713463751445

In [17]:
F_cr = stats.f.ppf(1-alpha, 4, 706-9)
F_cr

3.346154627901364

$F_{obs} < F_{cr}$ данные согласуются с гипотезой $H_0$

## Задача 2.4

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')

In [19]:
fitted = smf.ols(data=df, formula='np.log(wage)~age + I(age**2) + IQ + south + urban + married').fit()
fitted.params

Intercept      2.937802
age            0.144754
I(age ** 2)   -0.001857
IQ             0.008216
south         -0.100273
urban          0.173195
married        0.201539
dtype: float64

In [20]:
fitted.summary(alpha=0.01).tables[1]

In [21]:
#t критическое
alpha = 0.01
n=len(df)
k=6
#ppf - percent point function
t_cr = stats.t.ppf(1-alpha/2, n-k-1)
t_cr

2.5811375814942803

In [22]:
data = '''coef	std.err	t	P>|t|	[0.005	0.995]
Intercept	2.9378	1.656	1.774	0.076	-1.337	7.213
age	0.1448	0.100	1.447	0.148	-0.113	0.403
I(age**2)	-0.0019	0.002	-1.236	0.217	-0.006	0.002
IQ	0.0082	0.001	9.770	0.000	0.006	0.010
south	-0.1003	0.027	-3.736	0.000	-0.170	-0.031
urban	0.1732	0.028	6.260	0.000	0.102	0.245
married	0.2015	0.040	5.008	0.000	0.098	0.305'''

In [23]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

             coef  std.err      t  P>|t|  [0.005  0.995]
Intercept  2.9378    1.656  1.774  0.076  -1.337   7.213
age        0.1448    0.100  1.447  0.148  -0.113   0.403
I(age**2) -0.0019    0.002 -1.236  0.217  -0.006   0.002
IQ         0.0082    0.001  9.770  0.000   0.006   0.010
south     -0.1003    0.027 -3.736  0.000  -0.170  -0.031
urban      0.1732    0.028  6.260  0.000   0.102   0.245
married    0.2015    0.040  5.008  0.000   0.098   0.305

In [24]:
df['result']=df.apply(lambda x: 'значим' if abs(x['t'])>t_cr else 'не значим', axis=1)
df

             coef  std.err      t  P>|t|  [0.005  0.995]     result
Intercept  2.9378    1.656  1.774  0.076  -1.337   7.213  не значим
age        0.1448    0.100  1.447  0.148  -0.113   0.403  не значим
I(age**2) -0.0019    0.002 -1.236  0.217  -0.006   0.002  не значим
IQ         0.0082    0.001  9.770  0.000   0.006   0.010     значим
south     -0.1003    0.027 -3.736  0.000  -0.170  -0.031     значим
urban      0.1732    0.028  6.260  0.000   0.102   0.245     значим
married    0.2015    0.040  5.008  0.000   0.098   0.305     значим

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')

In [26]:
fitted_unrestricted = smf.ols(data=df, formula='np.log(wage)~age + I(age**2) + IQ + south + urban + married').fit()
fitted_restricted = smf.ols(data=df, formula='np.log(wage)~ IQ + south + urban + married').fit()

$$
H_0 : \beta_{age} = \beta_{age^2} = 0
$$
$$
H_1 : \beta_{age}^2 = \beta_{age^2}^2 > 0
$$

In [27]:
R2_ur = fitted_unrestricted.rsquared  # коэффициент детерминации "длинной регрессии" 
R2_ur

0.20095663871585157

In [28]:
R2_r = fitted_restricted.rsquared  # коэффициент детерминации "длинной регрессии" 
R2_r

0.1754137020049945

In [29]:
F_obs = (R2_ur - R2_r)/(1-R2_ur)*(706-9)/4
F_obs

5.570231776550696

In [30]:
F_cr = stats.f.ppf(1-0.01, 6, 935-7)
F_cr

2.821394800507497

### Интерпретация результатов
$F_{obs} > F_{cr}$ данные согласуются с гипотезой $H_1$
$$
Регрессоры \ значимы. Следовательно, \ возраст \ влияет \ на \ уровень \ заработной \ платы \ с \ вероятностью \ 99 \ процентов
$$

# Задача 3.2

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')

In [32]:
fitted = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
fitted.params

Intercept         -5.007316
np.log(capital)    0.149343
np.log(labour)     0.720410
np.log(wage)       0.921390
dtype: float64

In [33]:
fitted.summary(alpha=0.01).tables[1]

In [34]:
#t критическое
alpha = 0.05
n=len(df)
k=3
#ppf - percent point function
t_cr = stats.t.ppf(1-alpha/2, n-k-1)
t_cr

1.9641715505901485

In [35]:
data = '''coef	std.err	t	P>|t|	[0.005	0.995]
Intercept	-5.0073	0.221	-22.649	0.000	-5.579	-4.436
np.log(capital)	0.1493	0.015	10.141	0.000	0.111	0.187
np.log(labour)	0.7204	0.019	37.487	0.000	0.671	0.770
np.log(wage)	0.9214	0.058	16.001	0.000	0.773	1.070'''

In [36]:
# создаём DataFrame
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

                   coef  std.err       t  P>|t|  [0.005  0.995]
Intercept       -5.0073    0.221 -22.649    0.0  -5.579  -4.436
np.log(capital)  0.1493    0.015  10.141    0.0   0.111   0.187
np.log(labour)   0.7204    0.019  37.487    0.0   0.671   0.770
np.log(wage)     0.9214    0.058  16.001    0.0   0.773   1.070

In [37]:
df['result']=df.apply(lambda x: 'значимо' if abs(x['t'])>t_cr else 'не значимо', axis =1)
df

                   coef  std.err       t  P>|t|  [0.005  0.995]   result
Intercept       -5.0073    0.221 -22.649    0.0  -5.579  -4.436  значимо
np.log(capital)  0.1493    0.015  10.141    0.0   0.111   0.187  значимо
np.log(labour)   0.7204    0.019  37.487    0.0   0.671   0.770  значимо
np.log(wage)     0.9214    0.058  16.001    0.0   0.773   1.070  значимо

### Задание 3.2.1

$$
H_0 : \beta_{capital} + \beta_{labour} + \beta_{wage} = 1
$$
$$
H_1 : \beta_{capital} + \beta_{labour} + \beta_{wage} ≠ 1
$$

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')

In [39]:
fitted_res = smf.ols(data=df, formula='np.log(output)~(1-np.log(labour)-np.log(wage))+np.log(labour)+np.log(wage)').fit()
fitted_res.params

Intercept        -5.973322
np.log(labour)    0.848246
np.log(wage)      1.065677
dtype: float64

In [40]:
fitted = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
fitted.params

Intercept         -5.007316
np.log(capital)    0.149343
np.log(labour)     0.720410
np.log(wage)       0.921390
dtype: float64

In [41]:
R2_r = fitted_res.rsquared  # коэффициент детерминации "короткой регрессии" 
R2_r

0.8680882235383158

In [42]:
R2_ur = fitted.rsquared  # коэффициент детерминации "длинной регрессии" 
R2_ur

0.8883995592136718

In [43]:
n = len(df) #количество наблюдений
m = 4 #количество регрессоров
F_obs = (R2_ur - R2_r)/(1-R2_ur)*(569-m)/1
F_obs

102.83028073829944

#### Руслан Юрьевич, проверьте пожалуйста, правильное ли значение F_obs получается.

In [44]:
#F критическое: 
F_cr = stats.f.ppf(1-0.05, 1, 569-4)
F_cr

3.8579698801476354

### Принимается гипотеза H1.

## Задание 3.2.2

$$
H_0 : \beta_{labour} = \beta_{wage}
$$
$$
H_1 : \beta_{labour} ≠ \beta_{wage}
$$

In [71]:
fitted = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
fitted.params

Intercept         -5.007316
np.log(capital)    0.149343
np.log(labour)     0.720410
np.log(wage)       0.921390
dtype: float64

In [73]:
#явно специфицируем тестируемую гипотезу
f_test1 = fitted.f_test( 'np.log(labour)=np.log(wage)' ) 
f_test1.fvalue.round(3) #будет показано только Fнабл.

array([[11.081]])

In [50]:
F_cr = stats.f.ppf(1-0.05,1,569-4)
F_cr

3.8579698801476354

$$
Принимается \ гипотеза \ H1
$$

## Задание 3.2.3

$$
H_0 : \beta_{labour} = \beta_{wage} = \beta_{capital}
$$
$$
H_1 : \beta_{labour} ≠ \beta_{wage} ≠ \beta_{capital}
$$

In [51]:
fitted = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
fitted.params

Intercept         -5.007316
np.log(capital)    0.149343
np.log(labour)     0.720410
np.log(wage)       0.921390
dtype: float64

In [70]:
f_test = fitted.f_test('np.log(capital)=np.log(labour)=np.log(wage)')
f_test.fvalue

array([[192.36687127]])

In [56]:
F_cr = stats.f.ppf(1-0.05,2,569-4)
F_cr

3.011672483767199

$$
Принимается \ гипотеза \ H1
$$